@model List<EmporioVirtual.Models.ProdutoAgregador.ProdutoItem>
@{
    ViewData["Title"] = "Index";
    decimal SubTotal = 0;
}

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <aside>
                <h3 class="subtitle-doc">
                    Seus produtos
                </h3>
                <div id="code_itemside_img2">
                    <div class="box items-bordered-wrap">
                        @foreach (var produtoitem in Model)
                        {
                            <figure class="itemside">
                                <div class="aside">
                                    @if (produtoitem.Imagens.Count > 0)
                                    {
                                        <div class="aside"><img src="@produtoitem.Imagens.First().Caminho" class="img-sm"></div>
                                    }
                                    else
                                    {
                                        <div class="aside"><img src="~/img/Img_Padrao.png" class="img-sm"></div>
                                    }
                                </div>
                                <figcaption class="text-wrap align-self-center">

                                    @{
                                        var ResultadoSubTotalItem = produtoitem.Valor * produtoitem.QuantidadeProdutoCarrinho;
                                        SubTotal = SubTotal + ResultadoSubTotalItem;
                                    }

                                    <h6 class="title"><strong>@produtoitem.Nome</strong></h6>
                                    <div class="price-wrap">
                                        <span class="price-new">@produtoitem.Valor.ToString("C") x @produtoitem.QuantidadeProdutoCarrinho = <strong>@ResultadoSubTotalItem.ToString("C")</strong></span>
                                    </div> <!-- price-wrap.// -->
                                </figcaption>
                            </figure>
                        }
                    </div> <!-- box.// -->
                    <div class="box">
                        <h3> Resumo </h3>
                        <article class="card-body border-top">

                            <dl class="row">
                                <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">2 items</span></dt>
                                <dd class="col-sm-2 text-right subtotal_sub"><strong>@SubTotal.ToString("C")</strong></dd>

                                <dt class="col-sm-10">Frete -PAC/SEDEX:</dt>
                                <dd class="col-sm-2 text-right frete">@ViewBag.Frete.TipoFrete - @ViewBag.Frete.Valor.ToString("C")</dd>

                                <dt class="col-sm-10">Total:</dt>
                                @{
                                    decimal valorfrete = (decimal)ViewBag.Frete.Valor;
                                }
                                <dd class="col-sm-2 text-right total_frete"><strong>@( (SubTotal + valorfrete).ToString("C") )</strong></dd>
                            </dl>

                        </article> <!-- card-body.// -->
                    </div>

                </div> <!-- code-wrap.// -->
            </aside>
        </div>
        <div class="col-md-6">
            <aside>
                <p>Forma de Pagamento</p>

                <article class="card">
                    <div class="card-body p-5">

                        <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                    <i class="fa fa-credit-card"></i> Cartão de Crédito
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                                    <i class="fab fa-paypal"></i>  Boleto
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="nav-tab-card">
                                <p class="alert alert-danger">Some text success or error</p>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="username">Nome (no Cartão)</label>
                                        <input type="text" class="form-control" name="username" placeholder="" required="">
                                    </div> <!-- form-group.// -->

                                    <div class="form-group">
                                        <label for="cardNumber">Número do Cartão</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="cardNumber" placeholder="">
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>
                                                    <i class="fab fa-cc-mastercard"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div> <!-- form-group.// -->

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label><span class="hidden-xs">Vencimento</span> </label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" placeholder="MM" name="">
                                                    <input type="number" class="form-control" placeholder="YY" name="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">Cód. de Segurança <i class="fa fa-question-circle"></i></label>
                                                <input type="number" class="form-control" required="">
                                            </div> <!-- form-group.// -->
                                        </div>
                                    </div> <!-- row.// -->
                                    <button class="subscribe btn btn-primary btn-block" type="button"> Confirmar </button>
                                </form>
                            </div> <!-- tab-pane.// -->
                            <div class="tab-pane fade" id="nav-tab-paypal">
                                <p>Clique no botão para imprimir o boleto bancário</p>
                                <p>
                                    <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Imprimir Boleto </button>
                                </p>
                                <a href="" class="btn btn-primary">Prosseguir</a>
                            </div>
                        </div> <!-- tab-content .// -->

                    </div> <!-- card-body.// -->
                </article> <!-- card.// -->


            </aside> <!-- col.// -->
        </div>
    </div>
</div>

