@model List<EmporioVirtual.Models.ProdutoAgregador.ProdutoItem>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <section class="section-info" id="shopping_cart">
        <div class="container">
            <br />
            <br />
            <h1 class="doc-title">Carrinho de compras</h1>



            <!-- ============================ COMPONENT CART ================================= -->
            <output id="code_shopp">

                <div class="row">
                    <aside class="col-lg-9">
                        <div class="card">

                            <div class="table-responsive">

                                <table class="table table-borderless table-shopping-cart">
                                    <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Produto</th>
                                            <th scope="col" width="250">Quantidade</th>
                                            <th scope="col" width="50">Preço</th>
                                            <th scope="col" class="text-right d-none d-md-block" width="200"> Ações </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <figure class="itemside align-items-center">
                                                        <div class="aside"><img src="bootstrap-ecommerce-html/images/items/1.jpg" class="img-sm"></div>
                                                        <figcaption class="info">
                                                            <a href="#" class="title text-dark">@Item.Nome</a>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <div class="col-auto">
                                                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                                        <input type="hidden" class="input_produto_id" value="@Item.Id" />
                                                        <input type="hidden" class="input_quantidade_produto_estoque" value="@Item.Quantidade" />
                                                        <input type="hidden" class="input_valor_unitario" value="@Item.Valor" />
                                                        <div class="input-group mb-5">
                                                            <div class="input-group-append">
                                                                <a href="#" class="btn btn-primary diminuir"> - </a>
                                                            </div>
                                                            <input type="text" readonly="readonly" style="width: 10px; text-align:center" class="form-control inputQuantidadeProdutoCarrinho" value="@Item.QuantidadeProdutoCarrinho">
                                                            <div class="input-group-append">
                                                                <a href="#" class="btn btn-primary aumentar" id="Save"> + </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <var class="price">@((Item.Valor * Item.QuantidadeProdutoCarrinho).ToString("C"))</var>
                                                        <small class="text-muted"> @Item.Valor.ToString("C") cada</small>
                                                    </div> <!-- price-wrap .// -->
                                                </td>
                                                <td class="text-right d-none d-md-block">
                                                    <a asp-controller="Carrinho" asp-action="RemoverItem" asp-route-id="@Item.Id" class="btn btn-light"> Remove</a>
                                                </td>
                                            </tr>
                                        }

                                </table>

                            </div> <!-- table-responsive.// -->

                            <div class="card-body border-top">
                                <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                            </div> <!-- card-body.// -->

                        </div> <!-- card.// -->

                    </aside> <!-- col.// -->
                    <aside class="col-lg-3">

                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Have coupon?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Apply</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->

                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right">$69.97</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Discount:</dt>
                                    <dd class="text-right text-danger">- $10.00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Total:</dt>
                                    <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
                                </dl>
                                <hr>
                                <p class="text-center mb-3">
                                    <img src="bootstrap-ecommerce-html/images/misc/payments.png" height="26">
                                </p>
                                <a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
                                <a href="#" class="btn btn-light btn-block">Continue Shopping</a>
                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->

                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </output>
            <a href="#" class="showcode" data-html="code_shopp">show code</a>
            <!-- ============================ COMPONENT CART END .// ================================= -->

            <hr class="divider">

            <div class="row">
                <aside class="col-md-9">
                    <!-- ============================ COMPONENT 3  ================================= -->
                    <output id="code_cart_review">
                        <div class="card">
                            <article class="card-body">
                                <header class="mb-4">
                                    <h4 class="card-title">Review cart</h4>
                                </header>
                                <div class="row">
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/1.jpg" class="border img-xs"></div>
                                            <figcaption class="info">
                                                <p>Name of the product goes here or title </p>
                                                <span>2x $290 = Total: $430 </span>
                                            </figcaption>
                                        </figure>
                                    </div> <!-- col.// -->
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/2.jpg" class="border img-xs"></div>
                                            <figcaption class="info">
                                                <p>Name of the product goes here or title </p>
                                                <span>2x $290 = Total: $430 </span>
                                            </figcaption>
                                        </figure>
                                    </div> <!-- col.// -->
                                    <div class="col-md-6">
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/3.jpg" class="border img-xs"></div>
                                            <figcaption class="info">
                                                <p>Name of the product goes here or title </p>
                                                <span>1x $290 = Total: $290 </span>
                                            </figcaption>
                                        </figure>
                                    </div> <!-- col.// -->
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/4.jpg" class="border img-xs"></div>
                                            <figcaption class="info">
                                                <p>Name of the product goes here or title </p>
                                                <span>4x $290 = Total: $430 </span>
                                            </figcaption>
                                        </figure>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                            </article> <!-- card-body.// -->
                            <article class="card-body border-top">

                                <dl class="row">
                                    <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">2 items</span></dt>
                                    <dd class="col-sm-2 text-right"><strong>$1,568</strong></dd>

                                    <dt class="col-sm-10">Discount: <span class="float-right text-muted">10% offer</span></dt>
                                    <dd class="col-sm-2 text-danger text-right"><strong>$29</strong></dd>

                                    <dt class="col-sm-10">Delivery charge: <span class="float-right text-muted">Express delivery</span></dt>
                                    <dd class="col-sm-2 text-right"><strong>$120</strong></dd>

                                    <dt class="col-sm-10">Tax: <span class="float-right text-muted">5%</span></dt>
                                    <dd class="col-sm-2 text-right text-success"><strong>$7</strong></dd>

                                    <dt class="col-sm-10">Total:</dt>
                                    <dd class="col-sm-2 text-right"><strong class="h5 text-dark">$1,650</strong></dd>
                                </dl>

                            </article> <!-- card-body.// -->
                        </div>
                    </output>
                    <a href="#" class="showcode" data-html="code_cart_review">show code</a>
                    <!-- ============================ COMPONENT 3  ================================= -->

                </aside> <!-- col.// -->
                <aside class="col-md-3">

                    <!-- ============================ COMPONENT 4  ================================= -->
                    <output id="code_cart_dropdown">
                        <div class="card">
                            <div class="card-body">
                                <p>Dropdown sample</p>
                                <div class="dropdown">
                                    <a href="#" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
                                        Show cart
                                    </a>
                                    <div class="dropdown-menu p-3 dropdown-menu-right" style="min-width:280px;">
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/1.jpg" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">Name of item nice iteme</p>
                                                <a href="#" class="float-right"><i class="fa fa-trash"></i></a>
                                                <div class="price">$250</div> <!-- price-wrap.// -->
                                            </figcaption>
                                        </figure>
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/2.jpg" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">Some other item name is here</p>
                                                <a href="#" class="float-right"><i class="fa fa-trash"></i></a>
                                                <div class="price">$250</div> <!-- price-wrap.// -->
                                            </figcaption>
                                        </figure>
                                        <figure class="itemside mb-3">
                                            <div class="aside"><img src="bootstrap-ecommerce-html/images/items/3.jpg" class="img-sm border"></div>
                                            <figcaption class="info align-self-center">
                                                <p class="title">Another name of item  item</p>
                                                <a href="#" class="float-right"><i class="fa fa-trash"></i></a>
                                                <div class="price">$250</div> <!-- price-wrap.// -->
                                            </figcaption>
                                        </figure>
                                        <div class="price-wrap text-center py-3 border-top">Subtotal: <strong class="h5 price">$1200</strong></div>
                                        <a href="" class="btn btn-primary btn-block"> Checkout </a>
                                    </div> <!-- drowpdown-menu.// -->
                                </div>  <!-- dropdown.// -->

                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->
                        <!-- ============================ COMPONENT 4 END .// ================================= -->
                    </output>
                    <a href="#" class="showcode" data-html="code_cart_dropdown">show code</a>



                </aside>
            </div> <!-- container.// -->
        </div>
    </section>
</div>
