@model List<EmporioVirtual.Models.ProdutoAgregador.ProdutoItem>

@{
    ViewData["Title"] = "Index";
    decimal SubTotal = 0;
}

<div class="container">
    <section class="section-info" id="shopping_cart">
        <div class="container">
            <br />
            <br />
            <h1 class="doc-title">Carrinho de compras</h1>

            <div class="alert alert-danger" style="display: none" role="alert">

            </div>

            <!-- ============================ COMPONENT CART ================================= -->
            <output id="code_shopp">

                <div class="row">
                    <aside class="col-lg-9">
                        <div class="card">

                            <div class="table-responsive">

                                <table class="table table-borderless table-shopping-cart">
                                    <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Produto</th>
                                            <th scope="col" width="250">Quantidade</th>
                                            <th scope="col" width="50">Preço</th>
                                            <th scope="col" class="text-right d-none d-md-block" width="200"> Ações </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <figure class="itemside align-items-center">
                                                        <div class="aside"><img src="bootstrap-ecommerce-html/images/items/1.jpg" class="img-sm"></div>
                                                        <figcaption class="info">
                                                            <a href="#" class="title text-dark">@Item.Nome</a>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <div class="col-auto">
                                                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                                        <input type="hidden" class="input_produto_id" value="@Item.Id" />
                                                        <input type="hidden" class="input_quantidade_produto_estoque" value="@Item.Quantidade" />
                                                        <input type="hidden" class="input_valor_unitario" value="@Item.Valor" />
                                                        <div class="input-group mb-5">
                                                            <div class="input-group-append">
                                                                <a href="#" class="btn btn-primary diminuir"> - </a>
                                                            </div>
                                                            <input type="text" readonly="readonly" style="width: 10px; text-align:center" class="form-control inputQuantidadeProdutoCarrinho" value="@Item.QuantidadeProdutoCarrinho">
                                                            <div class="input-group-append">
                                                                <a href="#" class="btn btn-primary aumentar" id="Save"> + </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                @{
                                                    var ResultadoSubTotalItem = Item.Valor * Item.QuantidadeProdutoCarrinho;
                                                    SubTotal = SubTotal + ResultadoSubTotalItem;

                                                }
                                                <td>
                                                    <div class="price-wrap">
                                                        <var class="price">@((ResultadoSubTotalItem).ToString("C"))</var>
                                                        <small class="text-muted"> @Item.Valor.ToString("C") cada</small>
                                                    </div> <!-- price-wrap .// -->
                                                </td>
                                                <td class="text-right d-none d-md-block">
                                                    <a asp-controller="Carrinho" asp-action="RemoverItem" asp-route-id="@Item.Id" class="btn btn-light"> Remove</a>
                                                </td>
                                            </tr>
                                        }

                                </table>

                            </div> <!-- table-responsive.// -->

                            <div class="card-body border-top">
                                <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                            </div> <!-- card-body.// -->

                        </div> <!-- card.// -->

                    </aside> <!-- col.// -->
                    <aside class="col-lg-3">

                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Have coupon?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary">Apply</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->

                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right">$69.97</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Discount:</dt>
                                    <dd class="text-right text-danger">- $10.00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Total:</dt>
                                    <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
                                </dl>
                                <hr>
                                <p class="text-center mb-3">
                                    <img src="bootstrap-ecommerce-html/images/misc/payments.png" height="26">
                                </p>
                                <a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
                                <a href="#" class="btn btn-light btn-block">Continue Shopping</a>
                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->

                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </output>
            <a href="#" class="showcode" data-html="code_shopp">show code</a>
            <!-- ============================ COMPONENT CART END .// ================================= -->

            <hr class="divider">

            <div class="row">
                <aside class="col-md-9">
                    <!-- ============================ COMPONENT 3  ================================= -->
                    <output id="code_cart_review">
                        <div class="card">
                            <h3> Resumo </h3>
                            <article class="card-body border-top">

                                <dl class="row">
                                    <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">2 items</span></dt>
                                    <dd class="col-sm-2 text-right subtotal_sub"><strong>@SubTotal.ToString("C")</strong></dd>

                                    <dt class="col-sm-10">Frete: </dt>
                                    <dd class="col-sm-2 text-right frete"><strong>R$ 0,00</strong></dd>

                                    <dt class="col-sm-10">Total:</dt>
                                    <dd class="col-sm-2 text-right total_frete"><strong class="h5 text-dark">R$ 0,00</strong></dd>
                                </dl>

                            </article> <!-- card-body.// -->
                        </div>
                    </output>
                    <a href="#" class="showcode" data-html="code_cart_review">show code</a>
                    <!-- ============================ COMPONENT 3  ================================= -->

                </aside> <!-- col.// -->
                <aside class="col-md-4">
                    <a href="#" class="btn btn-primary btn-continuar-frete disabled">Continuar</a>


                    
                </aside>               
            </div> <!-- container.// -->
        </div>
    </section>
    <section id="parameters">
        <h2 class="title-doc">Correios</h2>
        <div class="row">
            <aside class="col-md-4">
                <h4 class="subtitle-doc">
                    Frete
                </h4>
                <div id="code_desc_align">
                    <div class="box">
                        <dl class="dlist-align">
                            <dt>CEP: </dt>
                            <dd><input type="text" name="cep" class="form-control cep" /> <a href="#" class="btn btn-outline-primary btn-calcular-frete">Ok</a> </dd>
                        </dl>

                        <div class="container-frete">

                        </div>

                        @*<dl class="dlist-align">
                                <dt><input type="radio" name="frete" value="sedex" /> </dt>
                                <dd>SEDE: </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt><input type="radio" name="frete" value="pac" /> </dt>
                                <dd>PAC: </dd>
                            </dl>*@
                    </div>
                </div>
            </aside>
        </div>
    </section>
</div>
